
#navbarNavDropdown{
	font: bold 12px sans-serif;
	/*color: #7ba5de;*/
}
.navbar-nav .nav-link{
	color: #7ba5de;
	transition: transform .2s;
}
.navbar-nav .nav-link:hover{
	color: #105981;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(123,165,222)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}

.nav-item button{
	border-color: #7ba5de; 
	background-color: rgba(0, 0, 0, 0.8); 
	border-radius: 5px;"
}